@import "../../scss/main.scss";

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color-black, 1);
  z-index: 10;

  &__content {
    width: 55rem;
    background-color: $color-white;
    color: $color-grey-dark;
  }

  &--visible {
    display: block;
  }

  &--invisible {
    display: none;
  }
}
