// color variables
$color-primary: #8305f2;
$color-primary-dark: #530499;
$color-primary-light: #841ede;

$color-secondary: #db0f79;
$color-secondary-dark: #990b54;
$color-secondary-light: #df2786;

$color-tertiary: #e66b07;
$color-tertiary-dark: #b35306;
$color-tertiary-light: #ff8521;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
